*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

main{
    padding:2rem;
    margin-bottom:10rem;
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap:2rem;
    overflow:scroll;
}
.reachable {
    background: linear-gradient(45deg, rgba(255, 255, 150, 1) 0%, rgba(255, 255, 200, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background-size: 200% 200%;
    animation: lightFade 12s infinite alternate ease-in-out;
}

@keyframes lightFade {
    0% {
        background-position: 0% 50%;
        filter: brightness(1);
    }
    50% {
        background-position: 100% 50%;
        filter: brightness(1.2);
    }
    100% {
        background-position: 0% 50%;
        filter: brightness(1);
    }
}

.controls{
    display:grid;
    gap:.4rem;
}

.light{
    border:1px solid lightgray;
    border-radius:1rem;
    padding:1rem;
}

.light span{
    display:block;
} 

.page{
    position:fixed;
    top:0;
    left:100vw;
    height:100vh;
    width:100vw;

    display:grid;
    place-items:center;
    padding:2rem;

    transition: .5s ease-in-out;
    transition-delay: .5s;

    background-color:aliceblue;
}

footer{
    position:fixed;
    width:100vw;
    background:black;
    bottom:0;
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top:.5rem;
}
input{
    margin:0;
    padding:0;
}

.show{
    left:0;
    transition: .5s ease-in-out;
}
