*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.page{
    position:fixed;
    top:0;
    left:100vw;
    height:100vh;
    width:100vw;

    display:grid;
    place-items:center;
    padding:2rem;

    border: 1px solid gray;
    background-color: lightgray;

    transition: .5s ease-in-out;
    transition-delay: .5s;

    background-color:aliceblue;
}

.show{
    left:0;
    transition: .5s ease-in-out;
}
